/* ================================= 
  BASE STYLE ELEMENTS
==================================== */

* {
	box-sizing: border-box;
}

.main-header {
  background-color: #f6f6f6;
}
body {
  font-family: 'Cardo', serif;
	line-height: 1.6;
	color: #000;
  text-align: center;
}

p {
	font-size: .95em;
	margin-bottom: 40px;
  padding-left: 1.8em;
  padding-right: 1.8em;
}

h2,
a {
	color: #093a58;
}

h2 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 90%;
}

.profile {
	max-width: 90%;
}
/* ================================= 
  NAVIGATION
==================================== */
.name {
  margin-top: 0;
}
.main-nav {
	margin-top: 5px;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 5px 5px;
}

.main-nav a {
	font-size: .95em;
	color: #093a58;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}
/* ================================= 
  Gallery
==================================== */

.port {
	color: #093a58;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Cardo', serif;
	line-height: 1.6;
  padding-top: 20px;
}


/* ================================= 
  Footer
==================================== */

.main-footer {
  border-top: solid;
  margin-left: 15px;
  margin-top: 80px;
  margin-right: 15px;
  color: #D3D3D3;
}

.closing h1 {
  font-size: .95em;
  
}

.cname {
  float: left;
}

.link {
  float: right;
}

.alt-footer {
  display: none;
}
/* ================================= 
MEDIA Q
==================================== */


@media (min-width: 768px) {

/******  GENERAL ******/
* {
  max-width: 768px;
  margin: 0 auto;
}

/******  HEADER NAVIGATION BAR******/

.name {
  padding-bottom: 1px;
}
.main-nav li {
  display: inline-block;
  padding-bottom: 10px;
  vertical-align: text-top;
}

/******  INTRODUCTION ALTERATIONS******/

.profile {
  float: right;
  width: 50%;
}

.intro p {
  float: left;
  width: 50%;
  font-size: 1.1em;
}

.intro,
.profile {
  display: inline-block;
  text-align: left;
  max-width: 100%;
  padding-right: 1%;
  margin-bottom: 20px;
}


/******  GALLERY ALTERATIONS******/

.portfolio {
  width: 48%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-top: 10px;
  vertical-align: text-top;
}

/******  FOOTER NAVIGATION BAR ******/

.main-footer {
  display: none;
}

.fcontainer {
  border-top: solid;
  margin-left: 1%;
  margin-top: 15px;
  margin-right: 1%;
  color: #D3D3D3;
}
.alt-footer {
  display: inline;
}
.fname {
  float: left;  
}

.footer-nav {
  float: right;
}

.footer-nav li {
  display: inline-block;
  padding: 1.9em;
}

.closing p {
  width: 50%;
}

/******  CLEARFIX ******/

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	} }

@media (min-width: 1024px) {

/******  GENERAL ******/
* {
  max-width: 1024px;
  margin: 0 auto;
}

/******  HEADER NAVIGATION BAR******/

.name {
  float: left;
  padding-top: 25px;
  padding-left: 20px;
}

.main-nav {
  float: right;
  padding-right: 20px;
}

.main-nav li {
  display: inline-block;
  padding-top: 35px;
  vertical-align: text-top;
}

/******  INTRODUCTION ALTERATIONS******/

.profile {
  float: right;
  width: 50%;
}

.intro p {
  float: left;
  width: 50%;
  font-size: 1.1em;
}

.intro,
.profile {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 20px;
}


/******  GALLERY ALTERATIONS******/

.portfolio {
  width: 32%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-top: 10px;
  vertical-align: text-top;
}

/******  FOOTER NAVIGATION BAR ******/

.main-footer {
  display: none;
}

.fcontainer {
  border-top: solid;
  margin-left: 1%;
  margin-top: 15px;
  margin-right: 1%;
  color: #D3D3D3;
}
.alt-footer {
  display: inline;
}
.fname {
  float: left;  
}

.footer-nav {
  float: right;
}

.footer-nav li {
  display: inline-block;
  padding: 1.9em;
}

/******  CLEARFIX ******/

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	} }